.AddButton.FloatingActionButton {
  border-radius: 77% 23% 37% 63% / 34% 38% 62% 66% !important;
  position: fixed !important;
  background-color: #ff4081;
  color: white;
  z-index: 10;

  &:hover {
    background-color: darken(#ff4081, 5%);
  }
}

@media screen and (width > 1280px) {
  .AddButton.FloatingActionButton {
    left: calc(50% + 920px / 2 + 50px);
  }
}

.UploadForm {
  .Button {
    &.delete {
      min-width: 32px;
      min-height: 32px;

      .material-icons {
        color: #757575;
      }
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .folderSelect {
    min-width: unset;
  }
}