.TorrentFileTree {
  display: block;
  background: #FAFAFA;
  padding-left: 10px;
  border-bottom: 1px solid #EAEAEA;
  overflow: hidden;

  .resizeable {
    transition: height .2s cubic-bezier(.4, 0, .2, 1);

    > .Scrollable {
      max-width: 100vw;
      overflow: unset;
      overflow-y: visible;
    }
  }
}