.TorrentFileTree {
  display: block;
  background: #FAFAFA;
  padding-left: 10px;
  border-bottom: 1px solid #EAEAEA;
  overflow: hidden;

  .resizeable {
    transition: height .2s cubic-bezier(.4, 0, .2, 1);
  }
}


@media screen and (max-width: 960px) {
  .TorrentFileTree {
    overflow-x: auto;
    max-width: 100vw;
  }
}
