{
  "env": {
    "test": {
      "presets": [
        ["preact-cli/babel", { "modules": "commonjs" }]
      ]
    }
  },
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "pragmaFrag": "Fragment"
    }],
    ["@babel/plugin-proposal-private-property-in-object", {"loose": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}]
  ]
}
