.home {
	padding: 56px 0px;
	min-height: 100%;
	width: 920px;
	margin-left: auto;
	margin-right: auto;

	.topbar {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		padding: 10px 50px;
	}
}
